<aside class="sidebar" [class.collapsed]="isCollapsed">
    <!-- <div class="project-selector">
        <select class="project-select">
            <option value="">اختر المشروع</option>
            <option *ngFor="let project of projects" [value]="project.id">
                {{ project.name }}
            </option>
        </select>
    </div> -->
    <nav class="nav-menu">
        <a routerLink="/author-dashboard/books" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faBook"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">كتبي</span>
        </a>
        <a routerLink="/author-dashboard/requests" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faTasks"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">الطلبات</span>
        </a>
        <a routerLink="/author-dashboard/projects" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faProjectDiagram"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">المشاريع</span>
        </a>
        <a routerLink="/author-dashboard/publishers" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faBuilding"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">دور النشر</span>
        </a>
    </nav>
</aside>
<app-logout></app-logout>