<aside class="sidebar" [class.collapsed]="isCollapsed">

    <div>
        <img src="assets/images/nasaq-logo.png" alt="logo" class="logo" />
    </div>

    <!-- Projects Section -->
    <div class="projects-section">
        <div class="section-header">
            <fa-icon [icon]="faProjectDiagram"></fa-icon>
            <span class="section-title" [class.hidden]="isCollapsed">المشاريع</span>
        </div>

        <div class="recent-projects" [class.hidden]="isCollapsed">
            <a *ngFor="let project of projects.slice(0, 3)"
                [routerLink]="['/author-dashboard/projects', project.projectId]" class="project-item"
                routerLinkActive="active">
                <fa-icon [icon]="faChevronRight" class="item-icon"></fa-icon>
                {{ project.bookName }}
            </a>
            <a routerLink="/author-dashboard/projects" class="nav-item" routerLinkActive="active" class="view-all">
                عرض كل المشاريع
            </a>
        </div>
    </div>

    <nav class="nav-menu pt-4">
        <a routerLink="/author-dashboard/home" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">الرئيسية</span>
        </a>
        <a routerLink="/author-dashboard/books" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faBook"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">كتبي</span>
        </a>
        <a routerLink="/author-dashboard/requests" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faTasks"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">الطلبات</span>
        </a>
        <a routerLink="/author-dashboard/contracts" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faFileContract"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">العقود</span>
        </a>
        <a routerLink="/author-dashboard/projects" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faProjectDiagram"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">المشاريع</span>
        </a>
        <a routerLink="/author-dashboard/publishers" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faBuilding"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">مقدمي الخدمات</span>
        </a>
    </nav>
</aside>
<app-logout></app-logout>