<div class="request-list">
  <div class="request-table">
    <div class="request-table-header">
      <div class="request-cell">اسم العمل </div>
      <div class="request-cell">اسم المؤلف</div>
      <div class="request-cell">تاريخ انشاء الطلب </div>
      <div class="request-cell">الحالة</div>
      <div class="request-cell"></div>
    </div>
    <div class="request-items">
      <div class="request-item" *ngFor="let request of requests">
        <div class="request-cell">{{ request.bookName }}</div>
        <div class="request-cell">{{ request.authorName }}</div>
        <div class="request-cell">{{ request.requestDate| date:'yyyy/MM/dd' }}</div>
        <div class="request-cell">{{ request.requestStatus }}</div>
        <div class="request-cell">
          <div class="actions-menu"
            *ngIf="request.status != RequestStatus.Approved && request.status != RequestStatus.Rejected">
            <button class="menu-btn" (click)="toggleMenu($event, request.requestId!)">
              <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            </button>
            <div class="menu-dropdown" *ngIf="activeMenu === request.requestId">
              <button class="menu-item"
                *ngIf="request.status == RequestStatus.Pending|| request.status == RequestStatus.EvaluationCompleted"
                (click)="approveRequest(request.requestId)">
                <fa-icon [icon]="faCheckCircle"></fa-icon>
                قبول
              </button>
              <button class="menu-item"
                *ngIf="request.status == RequestStatus.Pending || request.status == RequestStatus.EvaluationCompleted"
                (click)="rejectRequest(request.requestId)">
                <fa-icon [icon]="faCancel"></fa-icon>
                رفض
              </button>
              <button class="menu-item" (click)="editRequest(request)" *ngIf="request.status == RequestStatus.Pending">
                <fa-icon [icon]="faPerson"></fa-icon>
                تعيين المُقيِّم
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-publisher-request-editor [request]="selectedRequest" *ngIf="showForm"
  (close)="closeForm($event)"></app-publisher-request-editor>