<!-- Page Content Holder -->
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <h2> إضافة مقدم خدمة</h2>
        </div>

        <!--Basic Information-->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i> اضافة مقدم خدمة </h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30 ">
                <form>
                    <div class="row">
                        <!--Job title-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>الاسم</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_name" type="text" placeholder=" محمد">
                                    <i class="fs-input-icon fa fa-address-card"></i>
                                </div>
                            </div>
                        </div>

                        <!--Email Address-->
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>عنوان البريد الإلكتروني</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_Email" type="email"
                                        placeholder="name@doamin.com">
                                    <i class="fs-input-icon fas fa-at"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label> التخصص</label>
                                <div>
                                    <input type="checkbox" class="form-check-input " id="agree2">
                                    <label class="form-check-label" for="agree2">تقييم أدبى </label>

                                    <input type="checkbox" class="form-check-input" id="agree1">
                                    <label class="form-check-label" for="agree2">خدمات نشر </label>

                                    <input type="checkbox" class="form-check-input" id="agree6">
                                    <label class="form-check-label" for="agree2"> خدمات ترجمة </label>

                                    <input type="checkbox" class="form-check-input" id="agree3">
                                    <label class="form-check-label" for="agree2">
                                        تدقيق لغوي</label>

                                    <input type="checkbox" class="form-check-input" id="agree4">
                                    <label class="form-check-label" for="agree2">
                                        صناعة محتوى</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="text-left">
                                <button type="submit" class="site-button m-r5">إرسل دعوة الانضمام</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

</div>