<div class="modal fade twm-model-popup" id="delete-publisher-employee-confirm-popup" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">هل تريد حذف هذا الموظف؟</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="site-button" data-bs-dismiss="modal">لا</button>
                <button type="button" class="site-button outline-primary" data-bs-dismiss="modal"
                    (click)="deleteEmployee()">نعم</button>
            </div>
        </div>
    </div>
</div>