<!-- OUR BLOG START -->
<div class="section-full p-t120 p-b90 site-bg-gray">
    <div class="container">

        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div><span class="site-text-primary">المدونة</span></div>
            </div>
            <h2 class="wt-title">أحدث المقالات</h2>

        </div>
        <!-- TITLE END-->


        <div class="section-content">
            <div class="twm-blog-post-1-outer-wrap">
                <div class="owl-carousel twm-la-home-blog owl-btn-bottom-center">
                    <div class="item">
                        <!--Block one-->
                        <div class="blog-post twm-blog-post-1-outer">
                            <div class="wt-post-media">
                                <a href="#"><img src="assets/images/blog/latest/bg15.jpg" alt=""></a>
                            </div>
                            <div class="wt-post-info">
                                <div class="wt-post-meta ">
                                    <ul>
                                        <li class="post-date">11 يوليو 2024</li>
                                        <li class="post-author">بواسطة <a href="#">محمد على </a></li>
                                    </ul>
                                </div>
                                <div class="wt-post-title ">
                                    <h4 class="post-title">
                                        <a href="#">كيفية الحصول على تقييم مرتفع</a>
                                    </h4>
                                </div>
                                <div class="wt-post-text ">
                                    <p>
                                        قوم المقيّم بتقديم خدمات التقييم والعملاء، وخدمات تقييم السلع على أساس
                                        طبيعتها، كما يقوم بتنفيذ عمليات تسوية نتائج التقييم، ومن ثم استخدام حكمه
                                        وخبرته في اختيار أو تحديد التقدير النهائي للقيمة.
                                    </p>
                                </div>
                                <div class="wt-post-readmore ">
                                    <a href="#" class="site-button-link site-text-primary">اقرأ أكثر</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <!--Block two-->
                        <div class="blog-post twm-blog-post-1-outer">
                            <div class="wt-post-media">
                                <a href="#"><img src="assets/images/blog/latest/bg13.jpg" alt=""></a>
                            </div>
                            <div class="wt-post-info">
                                <div class="wt-post-meta ">
                                    <ul>
                                        <li class="post-date">18 يونيو 2024</li>
                                        <li class="post-author">بواسطة <a href="#">أحمد محمد</a></li>
                                    </ul>
                                </div>
                                <div class="wt-post-title ">
                                    <h4 class="post-title">
                                        <a href="#">أسرار صناعة النشر في المملكة</a>
                                    </h4>
                                </div>
                                <div class="wt-post-text ">
                                    <p>
                                        قوم المقيّم بتقديم خدمات التقييم والعملاء، وخدمات تقييم السلع على أساس
                                        طبيعتها، والغرض منها واستخدامها، ونطاق العمل، ومن ثم استخدام حكمه وخبرته في
                                        اختيار أو تحديد التقدير النهائي للقيمة.
                                    </p>
                                </div>
                                <div class="wt-post-readmore ">
                                    <a href="#" class="site-button-link site-text-primary">اقرأ المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <!--Block three-->
                        <div class="blog-post twm-blog-post-1-outer">
                            <div class="wt-post-media">
                                <a href="#"><img src="assets/images/blog/latest/bg14.jpg" alt=""></a>
                            </div>
                            <div class="wt-post-info">
                                <div class="wt-post-meta ">
                                    <ul>
                                        <li class="post-date">05 مايو 2024</li>
                                        <li class="post-author">بواسطة <a href="#">فهد حسن</a></li>
                                    </ul>
                                </div>
                                <div class="wt-post-title ">
                                    <h4 class="post-title">
                                        <a href="#">كيف تحصل على المزيد من طلبات الخدمات من خلال منصتنا؟</a>
                                    </h4>
                                </div>
                                <div class="wt-post-text ">
                                    <p>
                                        قوم المقيّم بتقديم خدمات التقييم والعملاء، وخدمات تقييم السلع على أساس
                                        طبيعتها من عمليات الحسابات التفصيلية ومراجعة حسابات التقييم ومنطقها، ومن ثم
                                        استخدام حكمه وخبرته في اختيار أو تحديد التقدير النهائي للقيمة.
                                    </p>
                                </div>
                                <div class="wt-post-readmore ">
                                    <a href="#" class="site-button-link site-text-primary">اقرأ المزيد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- OUR BLOG END -->