<aside class="sidebar" [class.collapsed]="isCollapsed">
    <!-- <div class="project-selector">
        <select class="project-select" [(ngModel)]="selectedProjectId" (change)="toggleProjectSelector($event)">
            <option value="">اختر المشروع</option>
            <option *ngFor="let project of projects" [value]="project.projectId">
                {{ project.bookName }}
            </option>
        </select>
    </div> -->
    <div>
        <img src="assets/images/nasaq-logo.png" alt="logo" class="logo" />
    </div>
    <!-- Projects Section -->
    <div class="projects-section">
        <div class="section-header">
            <fa-icon [icon]="faProjectDiagram"></fa-icon>
            <span class="section-title" [class.hidden]="isCollapsed">المشاريع</span>
        </div>

        <div class="recent-projects" [class.hidden]="isCollapsed">
            <a *ngFor="let project of projects.slice(0, 3)" [routerLink]="['/publisher-dashboard/projects', project.projectId]" class="project-item"
                routerLinkActive="active">
                <fa-icon [icon]="faChevronRight" class="item-icon"></fa-icon>
                {{ project.bookName }}
            </a>
            <a routerLink="/publisher-dashboard/projects" class="nav-item" routerLinkActive="active"
            *ngIf="roleService.isPublisher()" class="view-all">
                عرض كل المشاريع
            </a>
        </div>
    </div>


    <nav class="nav-menu">
        <a routerLink="/publisher-dashboard/home" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">لوحة التحكم</span>
        </a>
        <!-- <a routerLink="/publisher-dashboard/team" class="nav-item" routerLinkActive="active"
            *ngIf="roleService.isPublisher()">
            <fa-icon [icon]="faBook"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">فريق العمل</span>
        </a> -->
        <a routerLink="/publisher-dashboard/requests" class="nav-item" routerLinkActive="active"
            *ngIf="roleService.isPublisher()">
            <fa-icon [icon]="faBuilding"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">الطلبات</span>
        </a>
        <!-- <a routerLink="/publisher-dashboard/contracts" class="nav-item" routerLinkActive="active"
            *ngIf="roleService.isPublisher()">
            <fa-icon [icon]="faFileContract"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">العقود</span>
        </a> -->
        <!-- <a routerLink="/publisher-dashboard/projects" class="nav-item" routerLinkActive="active"
            *ngIf="roleService.isPublisher()">
            <fa-icon [icon]="faProjectDiagram"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">المشاريع</span>
        </a> -->
        <!-- <a routerLink="/publisher-dashboard/tasks" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faTasks"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">المهام</span>
        </a>
        <a routerLink="/publisher-dashboard/evaluations" class="nav-item" routerLinkActive="active">
            <fa-icon [icon]="faElevator"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">التقيمات</span>
        </a> -->
        <!-- <a class="nav-item" (click)="logout()">
            <fa-icon [icon]="faShareSquare"></fa-icon>
            <span class="nav-text" [class.hidden]="isCollapsed">تسجيل الخروج</span>
        </a> -->
    </nav>
</aside>
<app-logout></app-logout>