<!-- Page Content Holder -->
<div id="content">
  <div class="content-admin-main">
    <div class="wt-admin-right-page-header clearfix">
      <h2>كتبي الخاصة</h2>
    </div>

    <div class="twm-pro-view-chart-wrap">
      <div class="col-lg-12 col-md-12 mb-4">
        <div class="panel panel-default site-bg-white m-t30">
          <div class="panel-heading wt-panel-heading p-a20 d-flex flex-row justify-content-between">
            <h4 class="panel-tittle m-a0">
              <i class="far fa-list-alt"></i>جميع الكتب
            </h4>

            <div class="text-left">
              <a routerLink="/personal-dashboard/new-book" type="submit" class="site-button m-r5">
                إنشاء كتاب</a>
            </div>
          </div>
          @if(books.length === 0) {
          <div class="d-flex justify-content-center p-5">
            <p>لا توجد كتب حالياً.</p>
          </div>
          } @else {
          <div class="panel-body wt-panel-body">
            <div class="twm-D_table p-a20 table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>اسم العمل</th>
                    <th>رقم الكتاب</th>
                    <th>التاريخ</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (book of books; track $index) {
                  <!--1-->
                  <tr>
                    <td>
                      <div class="twm-DT-candidates-list">
                        <div class="twm-mid-content">
                          <a class="twm-job-title">
                            <h4>{{ book.title }}</h4>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.publicationDate | date : "yyyy/MM/dd HH:mm" }}</td>
                    <td>
                      <div class="twm-table-controls">
                        <app-download-file [bookId]="book.bookId!" [bookDocuments]="book.documents"></app-download-file>

                        <!-- <ul class="twm-DT-controls-icon list-unstyled">
                            <li>
                              <button
                                title="View profile"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                              >
                                <span class="fa fa-eye"></span>
                              </button>
                            </li>
                          </ul> -->
                      </div>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>