<div class="book-list">
  <div class="book-list-header">
    <div class="header-controls">
      <span></span>
      <div class="view-controls">
        <button class="add-book-btn" (click)="onAddBook()">
          <fa-icon [icon]="faPlus"></fa-icon>
          إنشاء كتاب
        </button>
      </div>
    </div>
  </div>
  <div class="book-table">
    <div class="book-table-header">
      <div class="book-cell">العنوان</div>
      <div class="book-cell">الوصف</div>
      <div class="book-cell">تاريخ النشر</div>
      <div class="book-cell">ISBN</div>
      <div class="book-cell">تحميل</div>
      <div class="book-cell"></div>
    </div>
    <div class="book-items">
      <div class="book-item" *ngFor="let book of books">
        <div class="book-cell" style="cursor: pointer;" (click)="editBook(book)">{{ book.title }}
          <p>عدد الكلمات: {{ book.wordCount }}</p>
        </div>
        <div class="book-cell">
          {{ (book.description?.length ?? 0 > 60 ? (book.description | slice: 0:60) + '...' :
          book.description) }}
        </div>
        <div class="book-cell">{{ book.publicationDate | date:'yyyy/MM/dd' }}</div>
        <div class="book-cell">{{ book.isbn }}</div>
        <div class="book-cell">
          <button class="download-btn" (click)="openDocuments(book)">
            <fa-icon [icon]="faDownload"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalCount" [pageSize]="pageSize" (page)="onPageChange($event)" aria-label="اختر الصفحة"
    class="custom-paginator">
  </mat-paginator>
</div>

<app-author-book-editor *ngIf="showForm" (close)="closeForm($event)" [book]="selectedBook"></app-author-book-editor>
<app-book-documents *ngIf="showDocuments" [bookDocuments]="selectedBook?.documents"
  (close)="closeDocuments()"></app-book-documents>