<!--Banner Start-->
<div class="twm-home1-banner-section site-bg-gray bg-cover"
    style="background-image:url(images/main-slider/slider1/bg1.jpg)">
    <div class="row">

        <!--Left Section-->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="twm-bnr-left-section">
                <div class="twm-bnr-title-small">منصة النشر الرقمي الأولى في الوطن العربي</div>
                <div class="twm-bnr-title-large">المستقبل الرقمي<br>
                    <span style="color: #FF0000"> لصناعة النشر</span> بين يديك&nbsp;
                </div>
                <div class="twm-bnr-discription">
                    <p>سق هي منصتك الشاملة التي تربط بين التكنولوجيا والابتكار لتحويل تجربة النشر إلى عملية رقمية
                        متكاملة—من إدارة العناوين والحقوق إلى توزيع العوائد وتحقيق النجاح.</p>
                    <p>• تبسيط كامل لسير العمل التحريري<br>
                        • إدارة حقوقك وعوائدك بذكاء وشفافية<br>
                        • تكامل مثالي مع الأنظمة العالمية ومعايير البيانات الوصفية مثل ONIX<br>
                        • سوق رقمي للابتكار والتعاون بين الناشرين والمبدعين&nbsp;</p>
                </div>
            </div>
            <div class="container twm-bnr-left-section" style="text-align: right">
                <a href="#sign_up_popup" class="site-button" data-bs-toggle="modal" role="button">ابدأ رحلتك الأدبية
                    الآن</a>
            </div>
        </div>

        <!--right Section-->
        <div class="col-xl-6 col-lg-6 col-md-12 twm-bnr-right-section">
            <div class="twm-bnr-right-content">

                <div class="twm-img-bg-circle-area">
                    <div class="twm-img-bg-circle1 rotate-center"><span></span></div>
                    <div class="twm-img-bg-circle2 rotate-center-reverse"><span></span></div>
                    <div class="twm-img-bg-circle3"><span></span></div>
                </div>

                <div class="twm-bnr-right-carousel">
                    <div class="owl-carousel twm-h1-bnr-carousal">
                        <div class="item">
                            <div class="slide-img">
                                <img src="assets/images/main-slider/slider1/r-img3.png" alt="#">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slide-img">
                                <div class="slide-img">
                                    <img src="assets/images/main-slider/slider1/r-img4.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Samll Ring Left-->
                <div class="twm-small-ring-l slide-top-animation"></div>
                <div class="twm-small-ring-2 slide-top-animation"></div>
            </div>
        </div>

    </div>

</div>
<!--Banner End-->