<!-- Page Content Holder -->
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <h2>طلب مساعدة</h2>
        </div>

        <!--Basic Information-->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>تفاصيل الطلب </h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30 ">
                <form>
                    <div class="row">
                        <!--Job title-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>عنوان الموضوع</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" name="company_name" type="text"
                                        placeholder=" وصف عام للطلب">

                                </div>
                            </div>
                        </div>

                        <!--Job Category-->
                        <!--Job Type-->
                        <!--Phone-->
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>نوع المساعدة</label>
                                <div class="ls-inputicon-box">
                                    <select class="wt-select-box selectpicker" data-live-search="true" title=""
                                        id="s-category" data-bv-field="size">
                                        <option class="bs-title-option" value="">اختر مما يلي</option>
                                        <option>خدمات الحساب</option>
                                        <option>الدعم الفنى</option>
                                        <option>خدمة مبيعات</option>
                                        <option>خدمات مالية</option>
                                        <option>وقف الحساب</option>
                                    </select>
                                    <i class="fs-input-icon fa fa-file-alt"></i>
                                </div>
                            </div>
                        </div>

                        <!--Description-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>الوصف</label>
                                <textarea class="form-control" rows="3" placeholder="وصف تفصيلي لطلبك"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="text-left">
                                <button type="submit" class="site-button m-r5"> إرسال</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

</div>