<div class="page-wraper">
    <!-- Header Start -->
    <header id="header-admin-wrap" class="header-admin-fixed">

        <div id="header-admin">
            <div class="container">

                <!-- Left Side Content -->

                <div class="header-left">
                    <div class="nav-btn-wrap">
                        <a class="nav-btn-admin" id="sidebarCollapse">
                            <!-- <span class="fa fa-angle-left"></span> -->
                            <i class="fa fa-solid fa-bars"></i>
                        </a>
                    </div>
                </div>

                <div class="text-center">
                    <a href="index.html">
                        <img src="assets/images/nasaq-logo.png" alt="">
                    </a>
                </div>

            </div>
            <!-- Left Side Content End -->

            <!-- Right Side Content -->
            <div class="header-right">
                <ul class="header-widget-wrap">
                    <!--Message-->
                    <li class="header-widget dashboard-message-dropdown" style="display: none;">

                        <div class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle jobzilla-admin-messange" id="ID-MSG_dropdown"
                                data-bs-toggle="dropdown">
                                <i class="far fa-envelope"></i>
                                <span class="notification-animate">4</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ID-MSG_dropdown">
                                <div class="message-list dashboard-widget-scroll">
                                    <ul>
                                        <li class="clearfix">
                                            <span class="msg-avtar">
                                                <img src="assets/images/user-avtar/pic1.jpg" alt="">
                                            </span>

                                            <div class="msg-texting">
                                                <strong>أليكسا جونسون</strong>
                                                <small class="msg-time">
                                                    <span class="far fa-clock p-r-5"></span>12 mins ago
                                                </small>
                                                <p>لوريم الجزر جدا ، المؤتمر...</p>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="msg-avtar">
                                                <img src="assets/images/user-avtar/pic2.jpg" alt="">
                                            </span>

                                            <div class="msg-texting">
                                                <strong>يوهان سميث</strong>
                                                <small class="msg-time">
                                                    <span class="far fa-clock p-r-5"></span>2منذ ساعات
                                                </small>
                                                <p>لقد تلقينا سيرتك الذاتية</p>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="msg-avtar">
                                                <img src="assets/images/user-avtar/pic3.jpg" alt="">
                                            </span>

                                            <div class="msg-texting">
                                                <strong>بوبي براون</strong>
                                                <small class="msg-time">
                                                    <span class="far fa-clock p-r-5"></span>3 منذ ساعات
                                                </small>
                                                <p>لقد تلقينا سيرتك الذاتية</p>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="msg-avtar">
                                                <img src="assets/images/user-avtar/pic4.jpg" alt="">
                                            </span>

                                            <div class="msg-texting">
                                                <strong>ديفيد ديو</strong>
                                                <small class="msg-time">
                                                    <span class="far fa-clock p-r-5"></span>4 منذ ساعات
                                                </small>
                                                <p>لقد تلقينا سيرتك الذاتية</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="message-view-all">
                                        <a href="javascript:;">عرض الكل</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>

                    <!--Notification-->
                    <li class="header-widget dashboard-noti-dropdown" style="display: none;">

                        <div class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle jobzilla-admin-notification"
                                id="ID-NOTI_dropdown" data-bs-toggle="dropdown">
                                <i class="far fa-bell"></i>
                                <span class="notification-animate">8</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ID-NOTI_dropdown">
                                <div class="dashboard-widgets-header">لديك 7 إشعارات</div>
                                <div class="noti-list dashboard-widget-scroll">
                                    <ul>

                                        <li>
                                            <a href="#">
                                                <span class="noti-icon"><i class="far fa-bell"></i></span>
                                                <span class="noti-texting">تقدم ديفيد ل <b>مصمم الويب.</b> </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="noti-icon"><i class="far fa-bell"></i></span>
                                                <span class="noti-texting">أرسل لك نيكول رسالة. </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="noti-icon"><i class="far fa-bell"></i></span>
                                                <span class="noti-texting">وضعت لوسي مرجعية على <b> خبير SEO الخاص
                                                        بك</b> وظيفة! </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="noti-icon"><i class="far fa-bell"></i></span>
                                                <span class="noti-texting">عملك ل <b>مدرس</b>تمت الموافقة عليه!
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="noti-icon"><i class="far fa-bell"></i></span>
                                                <span class="noti-texting">تقدم ثور بطلب <b>رئيس الفريق</b>. </span>
                                            </a>
                                        </li>

                                    </ul>

                                    <div class="noti-view-all">
                                        <a href="javascript:;">عرض الكل</a>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </li>

                    <!--Account-->
                    <li class="header-widget" style="display: none;">
                        <div class="dashboard-user-section">
                            <div class="listing-user">
                                <div class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle" id="ID-ACCOUNT_dropdown"
                                        data-bs-toggle="dropdown">
                                        <div class="user-name text-black">
                                            <span>
                                                <img src="assets/images/user-avtar/pic4.jpg" alt="">
                                            </span>محمد
                                        </div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="ID-ACCOUNT_dropdown">

                                        <ul>
                                            <li><a href="dashboard.html"><i class="fa fa-home"></i>لوحة القيادة</a>
                                            </li>
                                            <li><a href="dash-messages.html"><i class="fa fa-envelope"></i>
                                                    رسائل</a></li>
                                            <li><a href="dash-my-profile.html"><i class="fa fa-user"></i> حساب
                                                    تعريفي</a></li>
                                            <li><a href="index.html"><i class="fa fa-share-square"></i> تسجيل
                                                    خروج</a></li>
                                        </ul>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- Right Side Content End -->

        </div>
    </header>
    <!-- Header End -->
</div>