<form [formGroup]="projectTaskForm" (ngSubmit)="onSubmit()">
    <div class="task-item-form-overlay" (click)="onClose()">
        <div class="task-item-form" (click)="$event.stopPropagation()">
            <div class="form-header">
                <h2>{{ false ? 'تعديل مهمة' : ' إضافة مهمة' }}</h2>
                <button class="close-btn" (click)="onClose()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <label> اسم المهمة</label>
                    <input type="text" formControlName="taskName" class="form-control" placeholder="اسم المهمة">
                    <div class="validation-error"
                        *ngIf="projectTaskForm.get('taskName')?.touched && projectTaskForm.get('taskName')?.invalid">
                        <span *ngIf="projectTaskForm.get('taskName')?.errors?.['required']">اسم المهمة مطلوب.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label> نبذة عن المهمة</label>
                    <textarea formControlName="taskDescription" class="form-control"
                        placeholder="نبذة عن المهمة"></textarea>

                    <div class="validation-error"
                        *ngIf="projectTaskForm.get('taskDescription')?.touched && projectTaskForm.get('taskDescription')?.invalid">
                        <span *ngIf="projectTaskForm.get('taskDescription')?.errors?.['required']">نبذة عن المهمة
                            مطلوب.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label> تاريخ الانتهاء</label>
                    <input type="date" formControlName="dueDate" class="form-control" placeholder="تاريخ الانتهاء">
                </div>

                <div class="form-group">
                    <label>تعين الي</label>
                    <select formControlName="employeeId" class="form-control">
                        <option *ngFor="let employee of employees" [value]="employee.employeeId">
                            {{ employee.name }}
                        </option>
                    </select>
                </div>

                <div class="form-group" *ngIf="projectTask?.status == ProjectTaskStatus.Pending">
                    <label>معتمد علي</label>
                    <select formControlName="predecessorId" class="form-control">
                        <option [value]="null">لا يوجد</option>
                        <option *ngFor="let task of taskList" [value]="task.projectTaskId">
                            {{ task.taskName }}
                        </option>
                    </select>
                </div>

            </div>
            <div class="form-actions">
                <button class="cancel-btn" type="button" (click)="onClose()">إلغاء</button>
                <button class="save-btn" type="submit" [disabled]="projectTaskForm.invalid">حفظ</button>
            </div>
        </div>
    </div>
</form>