<!-- Page Content Holder -->
<div id="content">
    <div class="content-admin-main">
        <div class="wt-admin-right-page-header clearfix">
            <h2>إضافة مقدم خدمة</h2>
        </div>

        <!-- Basic Information -->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i> اضافة مقدم خدمة</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30 ">
                <form [formGroup]="serviceProviderForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <!-- First Name -->
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>الاسم الاول</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" formControlName="firstName" type="text"
                                        placeholder=" محمد" />
                                    <i class="fs-input-icon fa fa-user"></i>
                                </div>
                                <div *ngIf="serviceProviderForm.get('firstName')?.invalid && serviceProviderForm.get('firstName')?.touched"
                                    class="text-danger">
                                    الاسم الاول مطلوب
                                </div>
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>الاسم الاخير</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" formControlName="lastName" type="text"
                                        placeholder=" خالد" />
                                    <i class="fs-input-icon fa fa-user"></i>
                                </div>
                                <div *ngIf="serviceProviderForm.get('lastName')?.invalid && serviceProviderForm.get('lastName')?.touched"
                                    class="text-danger">
                                    الاسم الاخير مطلوب
                                </div>
                            </div>
                        </div>

                        <!-- Email Address -->
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>عنوان البريد الإلكتروني</label>
                                <div class="ls-inputicon-box">
                                    <input class="form-control" formControlName="email" type="email"
                                        placeholder="name@doamin.com" />
                                    <i class="fs-input-icon fa fa-envelope"></i>
                                </div>
                                <div *ngIf="serviceProviderForm.get('email')?.invalid && serviceProviderForm.get('email')?.touched"
                                    class="text-danger">
                                    يرجى إدخال بريد إلكتروني صحيح
                                </div>
                            </div>
                        </div>

                        <!-- Specializations -->
                        <div class="panel panel-default">
                            <div class="panel-heading wt-panel-heading py-3">
                                <h4 class="panel-title m-a0">الخدمات المقدمة</h4>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap gap-3"> <!-- Added gap-3 between checkbox items -->
                                    <div *ngFor="let option of publisherRoleIdsOptions"
                                        class="d-flex align-items-center gap-2">
                                        <!-- Added gap-2 between input and label -->
                                        <input class="form-check-input" type="checkbox" [value]="option.value"
                                            (change)="onCheckboxChange($event)" />
                                        <label class="form-check-label">{{ option.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-lg-12 col-md-12 mt-3">
                            <div class="text-left">
                                <button type="submit" class="site-button m-r5"
                                    [disabled]="serviceProviderForm.invalid">إرسال دعوة الانضمام</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>