<form [formGroup]="profileForm">
    <div class="request-form-overlay" (click)="onClose()">
        <div class="request-form" (click)="$event.stopPropagation()">
            <div class="form-header">
                <h2>تعديل الحساب</h2>
                <!-- <button class="close-btn" (click)="onClose()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button> -->
            </div>
            <div class="form-content">
                <div class="profile-page">
                    <div class="profile-form">
                        <div class="profile-section">
                            <div class="form-group mt-3">
                                <label for="email">البريد الإلكتروني</label>
                                <input type="text" formControlName="email" class="form-control"
                                    placeholder="البريد الإلكتروني*" readonly />
                            </div>
                            <div class="form-group">
                                <label> نوع الحساب</label>
                                <select class="form-control" formControlName="publisherType">
                                    <option
                                        *ngFor="let publisherType of [{label:'مؤسسة',value:'1'},{label:'فرد',value:'2'}]"
                                        [value]="publisherType.value"> {{publisherType.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group mt-3" *ngIf="profileForm.get('publisherType')?.value === '1'">
                                <label for="email">إسم المؤسسة</label>
                                <input type="text" formControlName="companyName" class="form-control"
                                    placeholder="اسم المؤسسة*" />
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>الاسم الأول</label>
                                        <input type="text" formControlName="firstName" class="form-control"
                                            placeholder="الاسم الأول*" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>الاسم الأخير</label>
                                        <input type="text" formControlName="lastName" class="form-control"
                                            placeholder="الاسم الأخير*" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>رقم السجل التجاري </label>
                                        <input type="text" formControlName="cRNumber" class="form-control"
                                            placeholder="رقم السجل التجاري*" />
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>الرقم الضريبي</label>
                                        <input type="text" formControlName="taxNumber" class="form-control"
                                            placeholder="الرقم الضريبي*" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label>البريد الإلكتروني للتواصل</label>
                                <input type="text" formControlName="contactEmail" class="form-control"
                                    placeholder="البريد الإلكتروني للتواصل*" />
                            </div>
                            <div class="form-group mt-3">
                                <label> العنوان</label>
                                <input type="text" formControlName="address" class="form-control"
                                    placeholder=" العنوان*" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button class="save-btn" type="button" (click)="onSubmit()"> حفظ</button>
            </div>
        </div>
    </div>
</form>