<div id="content">
    <div class="content-admin-main">
        <div class="wt-admin-right-page-header clearfix">
            <h2>تعديل الحساب</h2>
        </div>

        <!-- Logo and Cover Image -->
        <!-- <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-title m-a0">شعار المؤسسة</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 p-b0 m-b30">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="dashboard-profile-pic">
                                <div class="dashboard-profile-photo">
                                    <img src="assets/images/Sinan Logo.png" alt="">
                                    <div class="upload-btn-wrapper">
                                        <div id="upload-image-grid"></div>
                                        <button class="site-button button-sm">تحميل الصورة</button>
                                        <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Basic Information Form -->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-title m-a0">معلومات اساسية</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <!-- Company Name -->
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>اسم المؤسسة</label>
                                <input formControlName="companyName" class="form-control"
                                    placeholder="وكالة سنان الأدبية">
                            </div>
                        </div>

                        <!-- Company Phone -->
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>هاتف</label>
                                <input formControlName="phoneNumber" class="form-control"
                                    placeholder="(251) 1234-456-7890">
                            </div>
                        </div>

                        <!-- Company Email -->
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>عنوان البريد الإلكتروني</label>
                                <input formControlName="contactEmail" class="form-control" type="email"
                                    placeholder="name@domain.com">
                            </div>
                        </div>

                        <!-- Company Website -->
                        <div class="col-xl-4 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>موقع إلكتروني</label>
                                <input formControlName="location" class="form-control" placeholder="https://...">
                            </div>
                        </div>
                        
                        <!-- Services Offered -->
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label>التخصص</label>
                                <div *ngFor="let option of serviceTypeOptions">
                                    <input type="checkbox" [value]="option.value" [checked]="isChecked(option.value)"
                                        (change)="onCheckboxChange($event, option)" />
                                    <label class="form-check-label">{{ option.name }}</label>

                                    <!-- Conditionally display input fields if the checkbox is selected -->
                                    <div *ngIf="isServiceTypeSelected(option.value)">
                                        <div [formGroup]="getServiceTypeFormGroup(option.value)"
                                            class="service-item m-t10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>السعر</label>
                                                    <input formControlName="price" type="number" class="form-control"
                                                        placeholder="السعر" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>الوصف</label>
                                                    <textarea formControlName="description" class="form-control"
                                                        rows="1" placeholder="وصف الخدمة"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Company Description -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>نبذة عن المؤسسة</label>
                                <textarea formControlName="description" class="form-control" rows="3"
                                    placeholder="اكتب نبذه تعريفية موجزه عن مؤسستك."></textarea>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-lg-12 col-md-12">
                            <div class="text-left">
                                <button type="submit" class="site-button" [disabled]="profileForm.invalid">حفظ
                                    التغييرات</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>