<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="book-form-overlay" (click)="onClose()">
        <div class="book-form" (click)="$event.stopPropagation()">
            <div class="form-header">
                <h2>{{ this.book ? 'تعديل الكتاب' : 'كتاب جديد' }}</h2>
                <button class="close-btn" (click)="onClose()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <label>اسم الكتاب*</label>
                    <input type="text" formControlName="title" class="form-control" placeholder="عنوان العمل*">
                    <div class="validation-error"
                        *ngIf="bookForm.get('title')?.touched && bookForm.get('title')?.invalid">
                        <span *ngIf="bookForm.get('title')?.errors?.['required']">اسم الكتاب مطلوب</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>رقم الكتاب الدولي (ISBN)*</label>
                    <input type="text" formControlName="isbn" class="form-control"
                        placeholder="رقم الكتاب الدولي (ISBN)*">
                    <div class="validation-error"
                        *ngIf="bookForm.get('isbn')?.touched && bookForm.get('isbn')?.invalid">
                        <span *ngIf="bookForm.get('isbn')?.errors?.['required']">رقم الكتاب الدولي (ISBN) مطلوب</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>تاريخ النشر*</label>
                    <input formControlName="publicationDate" class="form-control" type="date">
                </div>

                <div class="form-group">
                    <label>نبذة عن الكتاب*</label>
                    <textarea formControlName="description" placeholder="نبذة عن الكتاب*" class="form-control"
                        rows="3"></textarea>

                    <div class="validation-error"
                        *ngIf="bookForm.get('description')?.touched && bookForm.get('description')?.invalid">
                        <span *ngIf="bookForm.get('description')?.errors?.['required']">نبذة عن الكتاب مطلوبة</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="file-upload" class="custom-file-upload">
                        <span *ngIf="!selectedFile">اختيار ملف</span>
                        <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
                        <i class="fa fa-upload mx-2"></i>
                    </label>
                    <input id="file-upload" type="file" (change)="onFileSelected($event)" accept=".doc,.docx" />
                    <div *ngIf="selectedFile" class="file-preview">
                        <span>{{ selectedFile.name }}</span>
                        <button type="button" (click)="removeFile()" class="remove-file-btn">إزالة</button>
                    </div>
                    <div *ngIf="fileError" class="file-error">
                        <span>الرجاء اختيار ملف بصيغة .doc أو .docx فقط.</span>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button class="cancel-btn" type="button" (click)="onClose()">إلغاء</button>
                <button class="save-btn" type="submit" [disabled]="bookForm.invalid">حفظ</button>
            </div>
        </div>
    </div>
</form>