<!-- Page Content Holder -->
<div id="content">
    <div class="content-admin-main">
        <div class="twm-pro-view-chart-wrap">
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="panel panel-default site-bg-white m-t30">
                    <div class="panel-heading wt-panel-heading p-a20 d-flex flex-row justify-content-between">
                        <h4 class="panel-tittle m-a0">
                            <i class="far fa-list-alt"></i>تفاصيل المشروع
                        </h4>
                    </div>

                    <div class="panel-body wt-panel-body">
                        <div class="twm-D_table p-a20 table-responsive">
                            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered no-footer">
                                            <thead>
                                                <tr>
                                                    <th>اسم العمل</th>
                                                    <th>اسم المؤلف</th>
                                                    <th>تاريخ</th>
                                                    <th>الخدمات المطلوبة</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="twm-DT-candidates-list">
                                                            <div class="twm-mid-content">
                                                                <a class="twm-job-title">
                                                                    <h4>{{ project.bookName }}</h4>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{{ project.authorName }}</td>
                                                    <td>{{ project.projectDate | date : "yyyy/MM/dd HH:mm" }}</td>
                                                    <td>
                                                        @for (serviceType of project.projectServices; track
                                                        serviceType.serviceTypeId) {
                                                        <div class="twm-jobs-category mt-2">
                                                            <span class="twm-bg-color service-{{
                                    serviceType.serviceTypeId
                                  }}">
                                                                {{ serviceType.serviceTypeName }}
                                                            </span>
                                                        </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        <app-download-file [bookId]="project.bookId"
                                                            [bookDocuments]="project.documents"></app-download-file>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h5 class="panel-tittle py-4">المهام</h5>
                                        <table class="table table-bordered no-footer">
                                            <thead>
                                                <tr>
                                                    <th class="sorting">اسم المهمة</th>
                                                    <th>وصف المهمة</th>
                                                    <th>تاريخ</th>
                                                    <th>الحالة</th>
                                                    <th>معين إلى</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (task of project.projectTasks; track $index) {
                                                <tr class="odd">
                                                    <td>
                                                        <div class="twm-DT-candidates-list">
                                                            <div class="twm-mid-content">
                                                                <a class="twm-job-title">
                                                                    <h4>{{ task.taskName }}</h4>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{{ task.taskDescription }}</td>
                                                    <td>{{ task.createdDate | date : "yyyy/MM/dd HH:mm" }}</td>
                                                    <td>
                                                        <div class="twm-jobs-category">
                                                            <span [ngClass]="{
                                    'twm-bg-sky':
                                      task.status === ProjectTaskStatus.Pending,
                                    'twm-bg-green':
                                      task.status === ProjectTaskStatus.Completed,
                                    'twm-bg-red':
                                      task.status ===
                                      ProjectTaskStatus.NotAssigned,
                                    'twm-bg-yellow':
                                      task.status === ProjectTaskStatus.InProgress
                                  }">
                                                                {{ task.taskStatus }}
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @if (task.assginTo) {
                                                        <div class="twm-DT-candidates-list">
                                                            <div class="twm-mid-content">
                                                                <a class="twm-job-title">
                                                                    <h4>{{ task.assginTo.email }}</h4>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        } @else {
                                                        <div>لم يتم التعين</div>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>