<!-- Page Content Holder -->
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <!-- <h2>مرحبًا, وكالة سنان الأدبية</h2> -->
            <div class="breadcrumbs"><span>لوحة التحكم</span></div>
        </div>

        <!-- <div class="twm-dash-b-blocks mb-5">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body gradi-1 dashboard-card ">
                            <div class="wt-card-wrap">
                                <div class="wt-card-icon"><i class="far fa-address-book"></i></div>
                                <div class="wt-card-right wt-total-active-listing counter ">25</div>
                                <div class="wt-card-bottom ">
                                    <h4 class="m-b0"> <a href="dash-order-takeem-taleb-elwekala.html">فريق العمل</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body gradi-3 dashboard-card ">
                            <div class="wt-card-wrap">
                                <div class="wt-card-icon"><i class="far fa-envelope"></i></div>
                                <div class="wt-card-right wt-total-listing-review counter ">28</div>
                                <div class="wt-card-bottom">
                                    <h4 class="m-b0">طلبات قيد التنفيذ</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body gradi-4 dashboard-card ">
                            <div class="wt-card-wrap">
                                <div class="wt-card-icon"><i class="far fa-bell"></i></div>
                                <div class="wt-card-right wt-total-listing-bookmarked counter ">18</div>
                                <div class="wt-card-bottom">
                                    <h4 class="m-b0">إشعارات</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="twm-pro-view-chart-wrap">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 mb-4">
                    <div class="panel panel-default site-bg-white">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0"><i class="far fa-chart-bar"></i>معدل الطلبات المنجزه</h4>
                        </div>
                        <div class="panel-body wt-panel-body twm-pro-view-chart">
                            <canvas id="profileViewChart"></canvas>
                        </div>
                    </div>

                </div>


                <div class="col-xl-6 col-lg-12 col-md-12 mb-4">
                    <div class="panel panel-default">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0">صندوق الوارد</h4>
                        </div>
                        <div class="panel-body wt-panel-body bg-white">
                            <div class="dashboard-messages-box-scroll ">

                                <div class="dashboard-messages-box">
                                    <div class="dashboard-message-avtar"><img src="assets/images/user-avtar/pic1.jpg"
                                            alt="">
                                    </div>
                                    <div class="dashboard-message-area">
                                        <h5>لوسي سميث <span> 18 يونيو 2023</span></h5>
                                        <p>إحضار استراتيجيات البقاء على قيد الحياة إلى الطاولة لضمان الهيمنة
                                            الاستباقية. في نهاية اليوم ، المضي قدمًا ، وهو طبيعي جديد تطور من الجيل.
                                        </p>
                                    </div>
                                </div>

                                <div class="dashboard-messages-box">
                                    <div class="dashboard-message-avtar"><img src="assets/images/user-avtar/pic3.jpg"
                                            alt="">
                                    </div>
                                    <div class="dashboard-message-area">
                                        <h5>غني بول <span> 19 يونيو 2023</span></h5>
                                        <p>إحضار استراتيجيات البقاء على قيد الحياة إلى الطاولة لضمان الهيمنة
                                            الاستباقية. في نهاية اليوم ، المضي قدمًا ، وهو طبيعي جديد تطور من الجيل.
                                        </p>
                                    </div>
                                </div>

                                <div class="dashboard-messages-box">
                                    <div class="dashboard-message-avtar"><img src="assets/images/user-avtar/pic4.jpg"
                                            alt="">
                                    </div>
                                    <div class="dashboard-message-area">
                                        <h5>جون دو <span> 20 يونيو 2023</span></h5>
                                        <p>إحضار استراتيجيات البقاء على قيد الحياة إلى الطاولة لضمان الهيمنة
                                            الاستباقية. في نهاية اليوم ، المضي قدمًا ، وهو طبيعي جديد تطور من الجيل.
                                        </p>
                                    </div>
                                </div>

                                <div class="dashboard-messages-box">
                                    <div class="dashboard-message-avtar"><img src="assets/images/user-avtar/pic1.jpg"
                                            alt="">
                                    </div>
                                    <div class="dashboard-message-area">
                                        <h5>توماس سميث<span>22 يونيو 2023</span></h5>
                                        <p>إحضار استراتيجيات البقاء على قيد الحياة إلى الطاولة لضمان الهيمنة
                                            الاستباقية. في نهاية اليوم ، المضي قدمًا ، وهو طبيعي جديد تطور من الجيل.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div> -->

    </div>

</div>