<form>
    <div class="modal-header">
        <h2 class="modal-title" id="sign_up_popupLabel">اشتراك</h2>
        <p>اشترك والحصول على جميع ميزات منصة نسق</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="twm-tabs-style-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!--Signup Candidate-->
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#sign-candidate" type="button">
                        <i class="fas fa-user-tie"></i>طالب خدمة
                    </button>
                </li>
                <!--Signup Employer-->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#sign-Employer" type="button">
                        <i class="fas fa-building"></i>مقدم خدمة
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!--Signup Candidate Content-->
                <div class="tab-pane fade show active" id="sign-candidate">
                    <app-author-signup></app-author-signup>
                </div>
                <!--Signup Employer Content-->
                <div class="tab-pane fade" id="sign-Employer">
                    <app-company-signup></app-company-signup>
                </div>
            </div>
        </div>
    </div>
</form>