<!-- Page Content Holder -->
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <h2>تعديل الحساب</h2>
        </div>

        <!--Basic Information-->
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>تفاصيل الحساب</h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 m-b30 ">
                <form>
                    <div class="panel panel-default">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0">تحديث صورة الملف الشخصي</h4>
                        </div>
                        <div class="panel-body wt-panel-body p-a20 m-b30 bg-white">

                            <div class="dashboard-profile-section clearfix">
                                <div class="dashboard-profile-pic">
                                    <div class="dashboard-profile-photo">
                                        <img src="assets/images/user-avtar/pic5.png" alt="">
                                        <div class="upload-btn-wrapper">
                                            <div id="upload-image-grid"></div>
                                            <button class="site-button button-sm">حمل الصورة</button>
                                            <input type="file" name="myfile" id="file-uploader"
                                                accept=".jpg, .jpeg, .png">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!--Basic Information-->
                    <div class="panel panel-default">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0">معلومات اساسية</h4>
                        </div>
                        <div class="panel-body wt-panel-body p-a20 m-b30 ">

                            <div class="row">

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>الاسم</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control" name="company_name" type="text"
                                                placeholder="محمد عامر">
                                            <i class="fs-input-icon fa fa-user "></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>الجوال</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control" name="company_phone" type="text"
                                                placeholder="(251) 1234-456-7890">
                                            <i class="fs-input-icon fa fa-phone-alt"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>عنوان البريد الإلكتروني</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control" name="company_Email" type="email"
                                                placeholder="name@domain.com">
                                            <i class="fs-input-icon fas fa-at"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>الوظيفة</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control" name="company_since" type="text"
                                                placeholder="الوظيفة الحالية">
                                            <i class="fs-input-icon fa fa-file-alt"></i>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>المؤهل</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control" name="company_since" type="text"
                                                placeholder="مؤهل">
                                            <i class="fs-input-icon fa fa-user-graduate"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>اللغات</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control" name="company_since" type="text"
                                                placeholder="مثال: الإنجليزية ، الإسبانية">
                                            <i class="fs-input-icon fa fa-language"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>سنوات الخبرة</label>
                                        <div class="ls-inputicon-box">
                                            <select class="wt-select-box selectpicker" name="Job type"
                                                data-live-search="true" title="حدد سنوات الخيرة" id="Experience"
                                                data-bv-field="size">
                                                <option>مبتدئ</option>
                                                <option>1 - 5 سنوات</option>
                                                <option>6 - 10 سنوات</option>
                                                <option>11 - 15 سنة</option>
                                                <option>16 - 20 سنة</option>
                                                <option>20 + سنوات</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-user-edit"></i>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group city-outer-bx has-feedback">
                                        <label>التخصص</label>
                                        <div class="ls-inputicon-box">
                                            <select class="wt-select-box selectpicker" name="Job type"
                                                data-live-search="true" title="حدد التخصص" id="Experience"
                                                data-bv-field="size">
                                                <option>تحقيق لغوي</option>
                                                <option>صياغة محتوى</option>
                                                <option>تأليف</option>
                                                <option>ترجمة</option>
                                                <option>تقييم</option>
                                            </select>
                                            <i class="fs-input-icon fa fa-user-edit"></i>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="text-left">
                                        <button type="submit" class="site-button">حفظ التغييرات</button>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                    <!--Social Network-->
                    <div class="panel panel-default">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0">شبكات التواصل</h4>
                        </div>
                        <div class="panel-body wt-panel-body p-a20 m-b30 ">

                            <div class="row">

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>فيسبوك</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://www.فيسبوك.com/">
                                            <i class="fs-input-icon fab fa-facebook-f"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>تويتر</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://تويتر.com/">
                                            <i class="fs-input-icon fab fa-twitter"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>ينكدين</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://في.ينكدين.com/">
                                            <i class="fs-input-icon fab fa-linkedin-in"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>واتس اب</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://www.واتس اب.com/">
                                            <i class="fs-input-icon fab fa-whatsapp"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>انستغرام</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://www.انستغرام.com/">
                                            <i class="fs-input-icon fab fa-instagram"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>بينتيريست</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://في.انستغرام.com/">
                                            <i class="fs-input-icon fab fa-pinterest-p"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>نعرفكم</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://www.نعرفكم.com/">
                                            <i class="fs-input-icon fab fa-tumblr"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>رابط يوتيوب</label>
                                        <div class="ls-inputicon-box">
                                            <input class="form-control wt-form-control" name="company_name" type="text"
                                                placeholder="https://www.رابط يوتيوب.com/">
                                            <i class="fs-input-icon fab fa-youtube"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="text-left">
                                        <button type="submit" class="site-button">حفظ التغييرات</button>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>