<!-- TOP COMPANIES START -->
<div class="section-full p-t120  site-bg-white twm-companies-wrap">

    <!-- TITLE START-->
    <div class="section-head center wt-small-separator-outer">
        <div class="wt-small-separator site-text-primary">
            <div><span class="site-text-primary">شركاء النجاح</span></div>
        </div>
        <h2 class="wt-title">انضم إلى نخبة الوكالات<br>الأعلى تقييماً</h2>
    </div>
    <!-- TITLE END-->

    <div class="container">
        <div class="section-content">
            <div class="owl-carousel home-client-carousel2 owl-btn-vertical-center">
                @for (number of [1,2,3,4,5,6,7,8,9]; track $index) {
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo client-logo-media">
                            <a href="#"><img [src]="'assets/images/client-logo/00' + number +'.jpg'" alt=""></a>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
    <div class="twm-company-approch-outer">
        <div class="twm-company-approch">
            <div class="row">

                <!--block 1-->
                <div class="col-lg-4 col-md-12">
                    <div class="counter-outer-two">
                        <div class="icon-content">
                            <div class="tw-count-number text-clr-sky">
                                <span class="counter">150</span>+
                            </div>
                            <p class="icon-content-info">طلبات شهرية</p>
                        </div>
                    </div>
                </div>

                <!--block 2-->
                <div class="col-lg-4 col-md-12">
                    <div class="counter-outer-two">
                        <div class="icon-content">
                            <div class="tw-count-number text-clr-pink">
                                <span class="counter">30</span>+
                            </div>
                            <p class="icon-content-info">مقدم خدمة</p>
                        </div>
                    </div>
                </div>

                <!--block 3-->
                <div class="col-lg-4 col-md-12">
                    <div class="counter-outer-two">
                        <div class="icon-content">
                            <div class="tw-count-number text-clr-green">
                                <span class="counter">209</span>+
                            </div>
                            <p class="icon-content-info">قصة نجاح</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- TOP COMPANIES END -->