<!-- Page Content Holder -->
<div id="content">

    <div class="content-admin-main">

        <div class="wt-admin-right-page-header clearfix">
            <h2>طلباتي الخاصة</h2>
        </div>

        <div class="twm-pro-view-chart-wrap">

            <div class="col-lg-12 col-md-12 mb-4">
                <div class="panel panel-default site-bg-white m-t30">
                    <div class="panel-heading wt-panel-heading p-a20 d-flex flex-row justify-content-between">
                        <h4 class="panel-tittle m-a0"><i class="far fa-list-alt"></i>جميع الطلبات</h4>

                        <div class="text-left">
                            <a href="dash-add-order-taleb-elkhedma.html" type="submit" class="site-button m-r5"> إنشاء
                                طلب</a>
                        </div>
                    </div>

                    <div class="panel-body wt-panel-body">
                        <div class="twm-D_table p-a20 table-responsive">
                            <table id="candidate_data_table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" onclick="'تحقق من الكل(هذا)'"></th>
                                        <th>اسم العمل</th>
                                        <th>الخدمة</th>
                                        <th>المؤسسة</th>
                                        <th>التاريخ</th>
                                        <th>الحالة</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--1-->
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>
                                            <div class="twm-DT-candidates-list">
                                                <div class="twm-media">
                                                    <div class="twm-media-pic">
                                                        <img src="images/candidates/pic1.jpg" alt="#">
                                                    </div>
                                                </div>
                                                <div class="twm-mid-content">
                                                    <a href="#" class="twm-job-title">
                                                        <h4>العمل الثالث</h4>

                                                    </a>

                                                </div>

                                            </div>
                                        </td>
                                        <td>تقييم أدبي</td>
                                        <td>وكالة سنان الأدبية</td>
                                        <td>15/06/2023 في الساعة 10:35 صباحًا</td>
                                        <td>
                                            <div class="twm-jobs-category"><span class="twm-bg-green">تم التقييم</span>
                                            </div>
                                            <a href="Report.pdf" target="_blank" class="twm-job-title">
                                                <h6>عرض وتحميل التقييم</h6>
                                            </a>
                                        <td>
                                            <div class="twm-table-controls">
                                                <ul class="twm-DT-controls-icon list-unstyled">
                                                    <li>
                                                        <button title="View profile" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="fa fa-eye"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Send message" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="far fa-envelope-open"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Delete" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="far fa-trash-alt"></span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--2-->
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>
                                            <div class="twm-DT-candidates-list">
                                                <div class="twm-media">
                                                    <div class="twm-media-pic">
                                                        <img src="images/candidates/pic2.jpg" alt="#">
                                                    </div>
                                                </div>
                                                <div class="twm-mid-content">
                                                    <a href="#" class="twm-job-title">
                                                        <h4>العمل الثانى</h4>
                                                    </a>
                                                </div>

                                            </div>
                                        </td>
                                        <td>تحرير وصياغة</td>
                                        <td>مؤسسة أخرى</td>
                                        <td>16/06/2023في الساعة 11:35 صباحًا </td>
                                        <td>
                                            <div class="twm-jobs-category"><span class="twm-bg-golden">جارى
                                                    التقييم</span></div>
                                        </td>
                                        <td>
                                            <div class="twm-table-controls">
                                                <ul class="twm-DT-controls-icon list-unstyled">
                                                    <li>
                                                        <button title="View profile" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="fa fa-eye"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Send message" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="far fa-envelope-open"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Delete" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="far fa-trash-alt"></span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <!--3-->
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>
                                            <div class="twm-DT-candidates-list">
                                                <div class="twm-media">
                                                    <div class="twm-media-pic">
                                                        <img src="images/candidates/pic3.jpg" alt="#">
                                                    </div>
                                                </div>
                                                <div class="twm-mid-content">
                                                    <a href="#" class="twm-job-title">
                                                        <h4>العمل الأول</h4>

                                                    </a>

                                                </div>

                                            </div>
                                        </td>
                                        <td>تدقيق لغوى</td>
                                        <td>وكالة سنان الأدبية</td>
                                        <td>17/06/2023 في الساعة 01:15 مساءً</td>
                                        <td>
                                            <div class="twm-jobs-category"><span class="twm-bg-green">تم التقييم</span>
                                            </div>
                                            <a href="Report.pdf" target="_blank" class="twm-job-title">
                                                <h6>عرض وتحميل التقييم</h6>
                                            </a>
                                        <td>
                                            <div class="twm-table-controls">
                                                <ul class="twm-DT-controls-icon list-unstyled">
                                                    <li>
                                                        <button title="View profile" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="fa fa-eye"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Send message" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="far fa-envelope-open"></span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button title="Delete" data-bs-toggle="tooltip"
                                                            data-bs-placement="top">
                                                            <span class="far fa-trash-alt"></span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>اسم العمل</th>
                                        <th>الخدمة</th>
                                        <th>المؤسسة</th>
                                        <th>التاريخ</th>
                                        <th>الحالة</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>