<!-- Sidebar Holder -->
<nav id="sidebar-admin-wraper">
    <div class="page-logo">
        <!-- <a href="#"><img src="assets/images/user-avtar/pic5.png" alt=""></a> -->
    </div>

    <div class="admin-nav ">
        <ul>
            <li [ngClass]="{ 'active': isActive(['/personal-dashboard']) }">
                <a routerLink="/personal-dashboard"><i class="fa fa-home"></i><span class="admin-nav-text">لوحة
                        التحكم</span></a>
            </li>

            <li [ngClass]="{ 'active': isActive(['/personal-dashboard/profile']) }">
                <a routerLink="profile"><i class="fa fa-user-tie"></i><span class="admin-nav-text">تعديل
                        الحساب</span></a>
            </li>

            <!-- <li [ngClass]="{ 'active': isActive(['/personal-dashboard/help-support']) }">
                <a routerLink="help-support"><i class="fa fa-question"></i><span class="admin-nav-text"> طلب
                        مساعدة</span></a>
            </li> -->

            <li [ngClass]="{ 'active': isActive(['/personal-dashboard/my-books']) }">
                <a routerLink="my-books"><i class="fa fa-book"></i><span class="admin-nav-text">
                        الكتب </span></a>
            </li>

            <li [ngClass]="{ 'active': isActive(['/personal-dashboard/my-orders']) }">
                <a routerLink="my-orders"><i class="fa fa-stream"></i><span class="admin-nav-text">
                        طلباتي الخاصة </span></a>
            </li>

            <li>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#logout-dash-profile"><i
                        class="fa fa-share-square"></i><span class="admin-nav-text">تسجيل خروج</span></a>
            </li>

        </ul>
    </div>
</nav>

<app-logout></app-logout>