<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="publisher-form-overlay" (click)="onClose()">
        <div class="publisher-form" (click)="$event.stopPropagation()">
            <div class="form-header">
                <h2>{{ false ? 'تعديل طلب' : 'إضافة طلب جديد' }}</h2>
                <button class="close-btn" (click)="onClose()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <label for="bookSelect">دار النشر</label>
                    <input type="text" formControlName="publisherName" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="bookSelect">اختر الكتاب</label>
                    <select class="form-control" formControlName="bookId">
                        <option *ngFor="let book of books" [value]="book.bookId">
                            {{ book.title }}
                        </option>
                    </select>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let serviceType of getPublisherServiceTypes()">
                        <div>
                            <input type="checkbox" class="form-check-input"
                                [id]="'service-' + serviceType.serviceTypeId"
                                (change)="toggleServiceSelection(serviceType)"
                                [checked]="isServiceSelected(serviceType)"
                                [disabled]="isServiceDisabled(serviceType)" />
                            <label [for]="'service-' + serviceType.serviceTypeId" class="mx-3">
                                {{ serviceType.name }}
                            </label>
                        </div>
                        <div>
                            {{ serviceType.price }}
                        </div>
                    </li>
                </ul>

            </div>
            <div class="form-actions">
                <button class="cancel-btn" type="button" (click)="onClose()">إلغاء</button>
                <button class="save-btn" type="submit"
                    [disabled]="requestForm.invalid || selectedServices.length === 0">حفظ</button>
            </div>
        </div>
    </div>
</form>