<!-- HOW IT WORK SECTION START -->
<div class="section-full p-t120 p-b90 site-bg-white twm-how-it-work-area">

    <div class="container">

        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div><span class="site-text-primary">خطوات العمل</span></div>
            </div>
            <h2 class="wt-title">كيف تعمل خدمة التقييم؟</h2>

        </div>
        <!-- TITLE END-->

        <div class="twm-how-it-work-section">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="twm-w-process-steps">
                        <span class="twm-large-number">01</span>
                        <div class="twm-w-pro-top bg-clr-sky">
                            <div class="twm-media">
                                <span><img src="assets/images/work-process/icon1.png" alt="icon1"></span>
                            </div>
                            <h4 class="twm-title">سجل حسابك معنا مجاناً</h4>
                        </div>
                        <p>ابدأ رحلتك معنا بتسجيل حساب مجاني على منصة "نسق". قم بتقديم بياناتك الشخصية الأساسية
                            لإنشاء حسابك الخاص، مما يتيح لك الوصول إلى كافة الخدمات التي نقدمها.</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="twm-w-process-steps">
                        <span class="twm-large-number">02</span>
                        <div class="twm-w-pro-top bg-clr-pink">
                            <div class="twm-media">
                                <span><img src="assets/images/work-process/icon2.png" alt="icon1"></span>
                            </div>
                            <h4 class="twm-title">تقدم بطلب خدمة التقييم</h4>
                        </div>
                        <p>بعد التسجيل، قم بتقديم طلبك لخدمة التقييم. ارفع المادة الأدبية التي ترغب في تقييمها،
                            وسيقوم فريق خبرائنا بمراجعتها بدقة واحترافية.</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="twm-w-process-steps">
                        <span class="twm-large-number">03</span>
                        <div class="twm-w-pro-top bg-clr-green">
                            <div class="twm-media">
                                <span><img src="assets/images/work-process/icon3.png" alt="icon1"></span>
                            </div>
                            <h4 class="twm-title">احصل على تقييمك المعتمد</h4>
                        </div>
                        <p>بعد انتهاء عملية التقييم، ستحصل على تقرير تفصيلي معتمد من منصتنا. يمكنك استخدام هذا
                            التقييم لتقديمه إلى دور النشر المهتمة لتعزيز فرصك في التعاقد.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- HOW IT WORK SECTION END -->